*,
*:after,
*:before {
  box-sizing: border-box;
}

html,
body,
#root,
#app {
  height: 100%;
}

html {
  font-size: 16px;
}

body {
  font-family: $font;
  color: $text;
  background-color: $bg;
}

#app {
  display: flex;
}

aside {
  width: 300px;
  background-color: $bgAlt;
}

main {
  flex: 1;
}

.main-content {
  padding: 25px;
  height: calc(100% - 90px);
}

header,
#main-header {
  height: 90px;
  padding: 25px;
  display: flex;
  align-items: center;
}

nav {
  padding: 25px;

  ul {
    display: flex;
    flex-direction: column;
    gap: $marge*4;
  }
}

.navlink {
  &.active {
    background-color: $primary;
    color: $bgAlt;

    &:hover {
      background-color: darken($primary, 5%);
    }
  }
}

/* ADD */
.form-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#add-form {
  display: flex;
  flex-direction: column;
  gap: $marge*8;

  fieldset {
    display: flex;
    flex-direction: column;
    gap: $marge*4;
  }

  legend {
    margin-bottom: $marge*4;
  }
}

.state-search-result {
  @include card;
  box-shadow: $boxShadow;

  p {
    padding: $marge*2;

    &:hover {
      background-color: $primary;
      color: $bgAlt;
    }
  }
}

/* DATEPICKER */
/* DATEPICKER */
.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker {
  background-color: $bgAlt;
  border-radius: $corner;
  font-family: $font;
  border: 1px solid $textAlt;
  box-shadow: $boxShadow;
}

.react-datepicker__header {
  border-bottom: 1px solid $textAlt;
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  background-color: $primary;
  border-radius: $corner;
  color: $bgAlt;
}

.react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover,
.react-datepicker__year-text:hover {
  border-radius: $corner;
  color: $text;
}